@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("./assets/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-position-y: -250px;
}

main {   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.logo { 
    padding: 35px 0px;
}

header {
    padding: 0px 25px; 
}

h1 {
    padding: 20px 0px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.45px;
    color: #191826;
}

.headerparagraph { 
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #191826;
}

.phone-img {
    position: absolute;
    margin-bottom: 650px;
    background-repeat: no-repeat;

}
.pattern { 
    margin-top: 150px;
    padding: 0px 31px;
    width: 313px;
    background-color: #191826;
    border-radius: 12px;   
}

.container {
    position: relative;
    bottom:50px;
    display: block;
    padding: 40px 41px;
    width: 293px;
    height: 480px;
    border-radius: 12px;
    background-color: #FA7453;
}

h2 {
    padding: 5px 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #FCFAF9;
}

.mainparagraph {
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #FCFAF9;
}

.bottomcontainer {
    padding: 40px 5px;
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
}

h3 {
    font-weight: 700;
    font-size: 65px;
    color: #FCFAF9;
}

.ios {
    width: 296px;
    height: 61px;
    border-radius: 12px;
    background-color: #191826;
    color: #FCFAF9;
    border: none;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    align-items: center;
    color: #FCFAF9;
}

.android {
    margin-top: 15px;
    width: 296px;
    height: 61px;
    color: #FCFAF9;
    border-radius: 12px;
    border: none;
}

h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    align-items: center;
    color: #191826;
}

footer {
    padding: 15px 25px;
}

.logo2 {
    padding: 15px 0px;
}

.footerparagraph {
    padding: 5px 25px 5px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    
}

a {
    padding: 5px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}

.icons {
    display:flex;
    padding: 50px 0px;
    gap: 20px;
}

.hovericon:hover {
    cursor: pointer;
    filter: invert(56%) sepia(71%) saturate(1471%) hue-rotate(325deg)
    brightness(100%) contrast(103%);
}

.ios:hover{
    cursor: pointer;
    background: #66E2DC;
}

.android:hover {
    cursor: pointer;
    background: #FFB964;
}